In [1]:
import pandas as pd
import plotly.express as px

In [2]:
data = pd.read_csv("./data/rides.csv")

In [3]:
print(data.head())

   Drivers Active Per Hour  Riders Active Per Hour  Rides Completed
0                       72                     295            202.0
1                       50                      78             43.0
2                       40                     250            181.0
3                       78                     140            124.0
4                       74                     195            108.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1099 entries, 0 to 1098
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Drivers Active Per Hour  1099 non-null   int64
 1   Riders Active Per Hour   1099 non-null   int64
 2   Rides Completed          1045 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 25.9 KB

As, we can see there are some null values in the Rides completed columns.
Let's see the number of null values and drop it since we cannot recover the null values.

In [11]:
data.isnull().sum().reset_index()

                     index   0
0  Drivers Active Per Hour   0
1   Riders Active Per Hour   0
2          Rides Completed  54

Here, Rides Completed column has 54 null values.

##### Dropping the null values:

In [13]:
data = data.dropna()

In [16]:
data.isnull().sum().reset_index()

                     index  0
0  Drivers Active Per Hour  0
1   Riders Active Per Hour  0
2          Rides Completed  0